//
@import '~bootstrap/scss/bootstrap.scss';

.my_container{
    margin: 0 auto;
    width: 80%;
}

nav{
    ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 20px;
            a{
                text-decoration: none;
                color:black;
            }
        }
    }
}

ul.col-3{
    list-style: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
